.taskList {
    display: grid;
    justify-items: center;
}

.taskList header{
    display: flex;
    gap: 8px;
    height: 54px;
    position: relative;
    top: -50%;
    max-width: 90vw;
}

.taskList header input {
    width: 638px;
    background: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    padding: 1rem;
    color: var(--gray-100)
}

.taskList header button {
    width: 90px;
    background: var(--blueDark);
    color: var(--gray-100);
    border: 0;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: bold;
}

.taskList header button svg {
    width: 16px;
    height: 16px;
}


.taskList main {
    display: grid;
    justify-items: center;
    justify-content: center;
}

.taskList main > div{
    width: 736px;
    display: flex;
    justify-content: space-between;
    margin: 37px 0 24px 0;
}

.taskList main div div {
    gap: 8px
}

.taskList main div div strong {
    padding: 1px 8px;
    border-radius: 999px;
    background: var(--gray-400);
    height: 19px;
}

.taskList main div div span{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.taskList main div div:first-child span{
    color: var(--blue);
}

.taskList main div div:last-child span{
    color: var(--purple);
}

.taskList main *{
    display: flex;
    max-width: 90vw;
    
}

.taskList main ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.taskList main ul li{
    background: var(--gray-500);
    height: 72px;
    width: 736px;
    max-width: 90vw; 
    border-radius: 8px;
    gap: 12px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

/* Checkbox style*/

.taskList main ul li div{
    gap: 12px;
    align-items: center;
    margin: 16px;
}


.taskList main ul li p{
    width: 632px;
    max-width: 100vw;
    /* height: 40px; */
    display: flex;
    align-items: center;
    cursor: default;

    word-break: break-all;
}

.taskList main ul li button{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: transparent;
    border: 0;
    height: 24px;
}

.taskList main ul li button svg{
    color: var(--gray-300);
    cursor: pointer;
}
.taskList main ul li button svg:hover{
    color: var(--Danger);
}

 .taskList main ul li div[class=completed]{
    text-decoration: line-through;
    color: var(--gray-300);
    
}